/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

.bg-pav{
    background-color: #f38221 !important;
    color:#f38221 !important;
}
.scrolled .navbar-dark{
    background-color: #f38221 !important;
}
.navbar[data-sticky="top"].scrolled.navbar-dark{

}

svg.bg-pav * {
    fill: #f38221; }
.icon-xl{
    height: 5rem !important;
}
.icon-nav{
    height: 7rem!important;
}
.scrolled .icon-nav{
    height: 4.5rem!important;

    z-index: 2!important;
}
.cust_map{
    height:250px;
    width: 600px;
}

@media (max-width: 800px) {
    .icon-nav{
        height: 3rem!important;
    }
    .cust_map{
        height:250px;
        width: 300px;
    }

}
